@use '../utils' as *;

.app {
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  
  &_container {
    display: flex;
    align-items: center;
    max-width: 1366px;
    flex-direction: column;
  }
}